<h1>NUS ISS Trading Demonstration {{ me }}</h1>

<h2>Total Owing</h2>
<h2>New York: SGD {{ totalB }}</h2>
<h2>Paris: SGD {{ totalC }}</h2>

<form action="{% url 'trade:createIOU' hostport %}" method="post">
{% csrf_token %}
	<input type="radio" name="target" id="peer1" value="{{ peer1path }}" />
	<label for="Paris">{{ peer1 }}</label><br />
	<input type="radio" name="target" id="peer2" value="{{ peer2path }}" />
	<label for="New York">{{ peer2 }}</label><br />
	<label for="value">SGD</label>
	<input type="number" name="value" max="100" min="1">
<input type="submit" value="Trade" />
</form>

<h3>Vault</h3>
<ul>
{% for j in rends %}
    <li>{{ j }}</li>
{% endfor %}
</ul>